#pricing{
    padding-bottom: 50px;
}


.pricing--con--h1{
font-weight: 600;
font-style: SemiBold;
font-size: 48px;
line-height: 80px;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);
text-align: center;
}

.pricing--cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricing--cards div{

 background-color:rgba(255, 255, 255, 1);
 width: 430px;
 height: 555px;
 padding-left: 20px;
 padding-bottom: 20px;
 padding-top: 20px;
 padding-right: 10px;
 padding-left: 30px;
}
.pricing--cards--h2{
font-weight: 600;
font-style: SemiBold;
font-size: 30px;
line-height: 48px;
letter-spacing: 0%;
color: rgba(38, 50, 56, 1);
padding-top: 40px;
}
.pricing--cards--p{
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(143, 149, 165, 1);
padding-top: 3px;
padding-bottom: 5px;
}
.pricing--cards--h3{
font-weight: 400;
font-style: Regular;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(38, 50, 56, 1);
padding-top: 7px;
background-color: rgba(238, 238, 238, 1);
padding-left: 10px;
padding-bottom: 7px;
width: 120px;
margin-top: 20px;
}
.pricing--cards--h2-01{
    font-weight: 600;
font-style: SemiBold;
font-size: 30px;
line-height: 48px;
letter-spacing: 0%;
color: rgba(38, 50, 56, 1);
padding-top: 65px;
}
.pricing--cards--h3-01{
    font-weight: 400;
font-style: Regular;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(38, 50, 56, 1);
padding-top: 7px;
background-color: rgba(238, 238, 238, 1);
padding-left: 10px;
padding-bottom: 7px;
width: 120px;
margin-top: 43px;
}
.pricing--cards--h2-02{
 font-weight: 600;
font-style: SemiBold;
font-size: 30px;
line-height: 48px;
letter-spacing: 0%;
color: rgba(38, 50, 56, 1);
padding-top: 5px;   
}
.pricing--cards div img{
    transition: 1.7s;
    cursor: pointer;

}


.pricing--cards .pricing--card1:hover{
    img{
        transform: scale(1.1);
    }
}
.pricing--cards .pricing--card2:hover{
    img{
        transform: scale(1.1);
    }
}
.pricing--cards .pricing--card3:hover{
    img{
        transform: scale(1.1);
    }
}